<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
    <style>
        .error_msg { color: red; }
        </style>
</head>
<body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    <p class="error_msg">Sorry, this email is not registered</p>
    Please enter your secretary email to continue:
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id=""/>
        <button type="submit">Enter</button>
    </form>
</body>
</html>